body {
  background: url('https://christianjohnston97.github.io/Photos/Uni10W_2-940x360.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
