body {
  background: url('https://christianjohnston97.github.io/IMG_6731.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
